---
import AstroshipLayout from "../layouts/AstroshipLayout.astro";
import Container from "../components/container.astro";
import Hero from "../components/hero.astro";
import Features from "../components/features.astro";
import CustomerLogos from "../components/customer-logos.astro";
import CTA from "../components/cta.astro";
---

<AstroshipLayout
  title="Shout: Safeguard Your Data with Privacy-First Survey Software"
  description="Collect feedback, improve experiences and perform assessments in a secure and compliant app. Start your Free Trial with Shout today."
>
  <section class="py-16">
    <Container>
      <Hero />
    </Container>
  </section>
  <Features />
  <CustomerLogos />
  <section class="py-16">
    <Container>
      <CTA />
    </Container>
  </section>
</AstroshipLayout>

